.main {
    display: flex;
    justify-content: center;
}

.content {
    width: 45%;
    min-width: 400px;
}

.title {
    text-align: center;
}

.labelDiv {
    display: flex;
    align-items: center;
}

.label {
    flex: 1;
}

.valueLength {
    color: #939393;
}