.main {
    display: flex;
    flex-wrap: wrap;
}

.content {
    flex: 1;
    margin-left: 20px;
}
.content h2 {
    margin-top: 12px;
    line-height: 0;
}

.link {
    margin-bottom: 15px;
}

.loader {
    height: 10px;
    margin-left: 150px;
}

.membersListPage>div {
    justify-content: flex-start;
}