.main {
    display: flex;
}

.content {
    flex: 1;
    margin-left: 20px;
}
.content h2 {
    margin-top: 12px;
    line-height: 0;
}

.link {
    margin-bottom: 50px;
}

.navbar {
    min-width: 150px;
    font-size: 20px;
}
.navbar ul {
    list-style-type: none;
    background-color: rgb(42, 42, 52);
    border-radius: 3px;
    padding: 0;
    overflow: hidden;
}
.navbar li {
    padding: 10px 10px 6px 10px;
    user-select: none;
}
.liVisited {
    background-color: #2c57a5;
}
.navbar li:hover {
    background-color: #E9105E;
    cursor: pointer;
}
.navbar li div {
    line-height: 10px;
}
.navbar li span {
    font-size: 12px;
    color: #c9c8c8;
}

.loader {
    height: 10px;
    margin-left: 150px;
}