.imageIco {
    border-radius: 10px;
    border: 2px solid #2c57a5;
    cursor: pointer;
}

.imageIco:hover {
    box-shadow: 0 0 15px #2c57a5;
}

.imageIco:active {
    box-shadow: 0 0 25px #2c57a5;
}

.modal > div {
    width: fit-content;
    max-width: 1200px;
}

.image {
    max-width: 1150px;
    max-height: 1080px;
    object-fit: contain;
}