.imageIcoDiv {
    position: relative;
}

.imageIco {
    border-radius: 10px;
    border: 2px solid #2c57a5;
    cursor: pointer;
}

.imageIco:hover {
    box-shadow: 0 0 15px #2c57a5;
}

.imageIco:active {
    box-shadow: 0 0 25px #2c57a5;
}

.removeBtn {
    background: linear-gradient(40deg, #e9105e70 20%, #2c57a5 99%);
    top: 7px;
    right: 7px;
}