.main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    cursor: pointer;

}

.btnDiv {
    position: absolute;
}

.leftBtn {
    left: 10px;
}
.rightBtn {
    right: 10px;
}
.imageCount {
    left: 10px;
    bottom: 10px;
}