.outlineDiv {
    margin-bottom: 20px;
}

.main {
    padding: 20px 10% 30px 10%;
}
.main h2 {
    text-align: center;
}

.nextBtnDiv {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}