.App {
    margin-top: 80px;
}

* {
    margin: 0;
    color: #E3E3E3;
    transition: all 0.2s;
    word-break: break-word;
}

body {
    background-color: #15151D;
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: 1px;
}

img {
    object-fit: cover;
    user-select: none;
}

@font-face {
    font-family: "PressStart";
    src: url("fonts/PressStart.ttf") format("truetype");
}

