.flexDiv {
    display: flex;
}
.noWrap {
    white-space: nowrap;
}

.own_bg_colorHeader {
    background-color: #1B1B24;
}

.scrollEnable {
    overflow-y: scroll;
}

.smallestUserImage {
    height: 22px;
    width: 22px;
    border-radius: 11px;
}
.userImage {
    height: 50px;
    width: 50px;
    border-radius: 25px;
}
.mediumUserImage {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.bigUserImage {
    height: 356px;
    width: 317px;
    border-radius: 10px;
}
.communityImageCard {
    width: 110px;
    height: 117px;
    border-radius: 12px;
}




