:root {
    scrollbar-color: #d0368a rgba(0, 0, 0, 0.1);
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(180deg, #d0368a 0%, #708ad4 99%);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(180deg, #982865 0%, #495a8a 99%);
}