.main .tooltip {
    opacity: 0;
    position: absolute;
    pointer-events: none;
    border-radius: 5px;
    font-family: "Calibri", serif;
    font-size: 15px;
    color: #E3E3E3;
    white-space: nowrap;
    border: 1px solid #228dff;
    padding: 4px 6px;
    left: -8px;
    bottom: -35px;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100;
}

.main:hover .tooltip{
    opacity: 1;
}