.main {

}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



.item {
    width: 200px;
    height: 300px;
    margin: 20px;
    border: 2px solid;
    border-radius: 25px;
}
.item:hover {
    cursor: pointer;
}
.item:active {
    margin-top: 10px;
}

.title {
    text-align: center;
    font-family: PressStart;
    margin-top: 5px;
}

.imageDiv {
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image {
    width: 80%;
}

.description {
    padding: 0 10px;
    font-size: 13px;
}

.chosen {
    box-shadow: 0 0 15px;
}

.blue {
    border-color: #228dff;
}
.blue:hover {
    box-shadow: 0 0 20px #228dff;
}
.red {
    border-color: #ff1177;
}
.red:hover {
    box-shadow: 0 0 20px #ff1177;
}
.green {
    border-color: #85B50E;
}
.green:hover {
    box-shadow: 0 0 20px #85B50E;
}
.orange {
    border-color: #ff9900;
}
.orange:hover {
    box-shadow: 0 0 20px #ff9900;
}

