.label {
    font-size: 20px;
    cursor: pointer;
    user-select: none;
}

.mainDiv {
    display: flex;
    align-items: center;
}

.main {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #E3E3E3;
    border-radius: 3px;
    background-color: transparent;
    display: inline-block;
    position: relative;
    margin-right: 10px;
    cursor: pointer;

}

.main:before {
    content: "";
    background-color: #ff1177;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 10px;
    height: 10px;
    border-radius: 3px;

}

.main:checked:before {
    transform: translate(-50%, -50%) scale(1);
}

.main:checked {
    box-shadow: 0 0 20px rgba(9, 117, 241, 0.7);
    border: 2px solid #ff1177;
}
.main:hover {
    border: 2px solid #ff1177;
}

