.content {
    display: flex;
    padding-right: 4px;
    gap: 8px;
    justify-content: space-between;
}

.editBtn {
    padding: 0 3px;
}

.editBtn, .acceptBtn {
    border-radius: 15px;
}

.classAreaDiv {
    position: relative;
}

.acceptBtn {
    position: absolute !important;
    top: 6px;
    right: 12px;
    color: #949494;
    font-weight: bold;
    padding: 0 6px;
}

