.content {
    display: flex;
    padding-right: 4px;
    gap: 8px;
    justify-content: space-between;
}

.textarea {
    padding: 6px 38px 6px 6px !important;
    background-image: linear-gradient(280deg, #0000004C 0%, #00000033 99%);
    border-radius: 10px;
}

.editBtn {
    padding: 0 3px;
}

.editBtn, .acceptBtn {
    border-radius: 15px;
}

.classAreaDiv {
    position: relative;
}

.acceptBtn {
    position: absolute !important;
    top: 6px;
    right: 4px;
    color: #949494;
    font-weight: bold;
    padding: 0 6px;
}

