.main {
    padding: 13px 6.5%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.centerDiv {
    flex: 1;
}

.title {
    margin-top: 6px;
    font-family: PressStart, serif;
    text-decoration: none;
    font-size: 16px;
}

.title:hover {
    color: inherit;
    text-shadow: 0 0 50px #228dff;
}

.idName {
    color: #949494;
    font-size: 16px;
    margin-top: -6px;
}

.rightDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 9px;
    padding-left: 10px;
}

.outlineBtn {
    font-size: 18px;
    padding: 12px 10px 14px 10px;
}

.item {
    margin-bottom: 11px;
    padding-bottom: 11px;
    border-bottom: 1px solid #939393;
}
.item:last-child {
    border: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

