.main {
    background-color: rgba(42, 42, 52, 0.4);
    backdrop-filter: blur(8px);
    position: absolute;
    z-index: 100;
    padding: 6px 18px 18px 18px;
    margin-top: 10px;

    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(280deg, #d0368a 0%, #708ad4 99%) 1;

}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
    font-weight: bold;
}

.title {
    color: #949494;
}

.cancel {
    user-select: none;
    color: #949494;
    float: right;
}
.cancel:hover {
    color: #E9105E;
    cursor: pointer;
}