.main {
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
}

.px20 {
    font-size: clamp(0.875rem, 0.743rem + 0.4225vw, 1.25rem);
}

.px16 {
    font-size: clamp(0.6875rem, 0.5775rem + 0.3521vw, 1rem);
}
