.bannerDiv {
    padding: 8px 68px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 1400px) {
    .bannerDiv {
        padding-left: 10px;
        padding-right: 10px;
    }
    .rightDiv {
        align-items: flex-start;
    }
}

.descriptionDiv {
    margin-top: 3px;
    max-width: 650px;
}

.leftDiv {
    display: flex;
    justify-content: space-between;
}

.imageDateDiv {
    min-width: 130px;
    margin-right: 21px;
}

.imgDiv {
    text-align: center;
}

.imgDiv img{
    width: 114px;
    height: 114px;
    border-radius: 57px;
    object-fit: cover;
}

.groupname, .date {
    text-align: center;
}
.date {
    color: #949494;
    font-weight: bold;
    font-size: 14px;
}

.titleDiv {
    font-family: PressStart, sans-serif;
    font-size: 20px;
    display: flex;
    align-items: flex-end;
}

.typeIcon {
    width: 35px;
}

.rightDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 158px;
}

.owner {
    margin-top: 10px;
    flex: 1;
}
.members {
    font-weight: 600;
    font-size: 16px;
    color: #949494;
}
.joinLeaveDiv {
    margin-bottom: 10px;
    margin-top: 8px;
}
.joinLeaveDiv button{
    height: 30px;
    width: 90px;
    padding-left: 0;
    padding-right: 0;
}