.modal > div {
    max-width: 700px;
}

.linkToUser {
    color: inherit !important;
}

.logDate {
    color: #949494;
    font-weight: bold;
    font-size: 13px;
}

.logList {
    display: flex;
    flex-direction: column;
    gap: 13px;
}
