.bannerDiv {
    padding: 15px 68px !important;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

@media (max-width: 1400px) {
    .bannerDiv {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}

.descriptionDiv {
    margin-top: 3px;
    max-width: 650px;
}

.leftDiv {
    display: flex;
    justify-content: space-between;
}

.imageDateDiv {
    min-width: 130px;
    margin-right: 21px;
}

.imgDiv {
    text-align: center;
}

.imgDiv img{
    width: 114px;
    height: 114px;
    border-radius: 57px;
}
.imgDiv img:hover {
    cursor: pointer;
}

.groupname, .date {
    text-align: center;
}
.date {
    color: #949494;
    font-weight: bold;
    font-size: 14px;
}

.titleDiv {
    font-family: PressStart, sans-serif;
    font-size: 20px;
    display: flex;
    align-items: flex-end;
}

.typeIcon {
    width: 35px;
}

.rightDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    flex: 1;
}

.owner {
    margin-top: 5px;
    flex: 1;
}

.buttonsDiv {
    margin-top: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.joinLeaveBtn {
    height: 35px;
    min-width: 100px;
    padding-left: 0;
    padding-right: 0;
}
.settingsBtn {
    padding: 2px;
}
.logsBtn {
    font-size: 20px;
    padding: 1px 9px 5px 9px;
}
.settingsBtn, .logsBtn {
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 12px;
}
.settingsBtn:hover, .logsBtn:hover {
    background-color: rgba(255, 255, 255, 0.1);
}


.page {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.content {
    max-width: 968px;
    flex: 1;
}

.additionalInfoBlock {
    width: 220px;
}

@media (max-width: 1200px) {
    .additionalInfoBlock {
        display: none;
    }
}

.newPostAndSortBanner {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 10px 15px 5px 15px !important;
    margin-bottom: 20px;
}

.newPostDiv {
    flex: 1;
}

.newPostTextArea {
    border-width: 2px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.1);
    height: 45px;
}

.newPostTextArea:hover {
    border-color: #2c57a5;
    background-color: rgba(0, 0, 0, 0.4);
}

.sortButtons {
    display: flex;
    padding-bottom: 6px;
}




