.main {
    justify-content: space-between;
}

.flex, .main, .programBtn, .programDiv {
    display: flex;
    gap: 10px;
}

.title {
    margin-top: 2px;
    font-size: 11px;
    font-family: PressStart, "sans-serif";
}

.programDiv {
    align-items: flex-start;
}

.programBtn {
    gap: 5px;
    border-radius: 8px;
    padding: 5px;
}

.modalTitle {
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: #939393 1px solid;
}