.generalInfo, .showMoreInfo {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.centerFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.showMoreInfo {

}

.program {
    height: 85px;
    overflow-y: auto;
}

.currentPresidentProgram > h6, .statsInfo > h6, .candidateProfile > h6 {
    text-align: center;
    color: #949494;
}

.currentPresidentProgram {
    flex: 5;
}
.statsInfo {
    flex: 3;
}
.candidateProfile {
    flex: 6;
}

.electionsDate {
    font-size: 17px;
    font-style: italic;
}

