.main {
    display: flex;
    justify-content: center;
}

.content {
    width: 100%;
    max-width: 845px;
}

.buttons {
    margin-left: 10px;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 2px;
}
.dot {
    font-size: 25px;
    font-weight: bold;
}

.item {
    margin-bottom: 11px;
    padding-bottom: 11px;
    border-bottom: 1px solid #939393;
}
.item:last-child {
    border: none;
    padding-bottom: 0;
    margin-bottom: 0;
}






