

/*Comments List Component: */
.commentsListMain {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/*Commentary item component*/

.commentMain {
    background-color: #292930;
    display: flex;

}
.highestLevel {
    padding-left: 8px;
}
.highestLevel:first-child {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding-top: 12px;
}
.highestLevel:last-child {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-bottom: 12px;
}

.commentDiv {
    padding-top: 4px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex: 1;
}

.commentInside:first-child {
    margin-top: 7px;
}
.commentInside:last-child {
    margin-bottom: 1px;
}


.lineDiv {
    cursor: pointer;
    width: 15px;
    transition: all 0s;
    display: flex;
    padding-left: 4px;
    margin-left: -4px;
}
.orangeLine > div {
    border-left: #ff990080 1px solid;
}
.orangeLine:hover > div {
    border-left: #ff9900 1px solid;
}
.blueLine > div {
    border-left: #2D5DB280 1px solid;
}
.blueLine:hover > div {
    border-left: #2D5DB2 1px solid;
}

.userInfoDiv {
    position: relative;
    display: flex;
    gap: 5px;
}

.nickname {
    font-family: PressStart, serif;
    font-size: 11px;
    padding-top: 4px !important;
}


.moreOptionsDiv {
    position: absolute;
    right: 5px;
}
.moreOptions {
    height: 25px;
}
.moreOptions span {
    top: 10px;
    color: #bdbdbd;
}

.text {
    font-size: 15px;
}

.bottomDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ratingDiv {
    display: flex;
    gap: 15px;
    align-items: flex-end;
    margin-bottom: 10px;
}

.basicCommentForm {
    margin-top: 10px;
}

.dateDiv {
    color: #939393;
    font-size: 14px;
    padding-right: 10px;
}






