.main {
    display: flex;
}

.searchInput {
    font-size: 18px;
    padding-left: 11px;
    padding-bottom: 3px;
    height: 34px;
    margin-right: -2px;
    margin-bottom: 0;
}
.searchInput:focus ~ .searchButton{
    border-color: #2c57a5;
}

.searchButton {
    height: 34px;
    width: 40px;
    border: #939393 2px solid;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: rgba(217, 217, 217, 0.1);

    display: flex;
    align-items: center;
}
.searchButton:hover {
    border-color: #2c57a5;
    background-color: rgba(0, 0, 0, 0.4);
}
.searchButton:active {
    border-color: #2c57a599;
    background-color: #2c57a530;
}

.modal > div {
    max-width: 650px;
}
.modal > div > div {
    padding: 5px 12px 12px;
}

.error {
    margin-top: 10px;
}


.listMain {
    margin-top: 25px;
}

.itemListTitle {
    color: #c2c2c2;
    font-weight: 600;
    font-size: 20px;
}

.itemList {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
}

.item {
    display: flex;
    gap: 10px;
}
.itemImg {
    height: 200px;
    width: 200px;
}
.itemLink {
    font-size: 17px;
}
.itemTitle {
    font-family: PressStart, "sans-serif";
}

.showMoreBtnDiv {
    display: flex;
    justify-content: center;
}
.showMoreBtn {
    color: rgba(217, 217, 217, 0.65);
    font-weight: 600;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
}
.showMoreBtn:hover {
    color: rgba(217, 217, 217, 0.5);
}
.showMoreBtn:active {
    color: rgba(217, 217, 217, 0.3);
}



