.main {
    max-width: 968px;
    display: flex;
    gap: 12px;
    padding: 10px 8px;
}
.main:hover {
    background-image: linear-gradient(280deg, #E9105E40 0%, #2D5DB240 99%);
}

@media (max-width: 980px) {
    .main {
        display: grid;
        grid-template-columns: auto 1fr;
    }
    #order_rating {
        order: 2;
    }
    #order_imageAndText {
        order: 1;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    #order_rightDiv {
        order: 3;
    }
}

.imageTextDiv {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.imageSelector {
    min-width: 454px;
}
.image {
    border-radius: 4px;
}

.text {
    padding: 4px 7px;
    min-width: 454px;
}

.verticalLine {
    border-left: 1px #949494 solid;
}

.flexColumn10px, .rightDiv {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.rightDiv {
    flex: 1;
    min-width: 380px;
    justify-content: space-between;
}

.date {
    padding-left: 6px;
    line-height: 18px;
    font-size: 15px;
}

.homeNicknameAndDate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
}

.homeNickname {
    font-family: PressStart, "sans-serif";
    font-size: 12px;
    padding: 2px 6px !important;
}

.homeDate {
    padding-right: 6px;
}

.comment {
    padding: 5px 8px 3px 8px;
}
.commentNickname {
    font-family: PressStart, "sans-serif";
    font-size: 10px;
}
.commentText {
    font-size: 14px;
}

.commentsAmount {
    font-size: 14px !important;
}


#order_rating {
    display: flex;
    flex-direction: column;
}

.link {
    text-decoration: none;
    flex: 1;
}
.commentFormDiv {
    flex: 1;
    display: flex;
    flex-direction: column;
}

