.main {
    display: flex;
    justify-content: center;
    padding: 3px 6px;
    border-radius: 8px;
}

.main:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.05);
}
.main:active {
    background-image: linear-gradient(280deg, #E9105E50 0%, #2D5DB250 99%);
}

.nicknameAndFlairDiv {
    margin-left: 8px;
}

.nickname {
    font-family: PressStart, "sans-serif";
    font-size: 13px;
}

.flairDiv {
    max-width: 150px;
}

.groupTitle {
    font-size: 20px;
    line-height: 16px;
}
.groupname {
    font-size: 14px;
    color: #949494;
    margin-top: 5px;
}
