.notificationDiv {
    display: inline-block;
}


.fadingNotification {
    position: fixed;
    left: 20px;
    bottom: 50px;
    font-size: 18px;
    border-radius: 5px;
    padding: 13px 10px 8px 10px;
    max-width: 500px;
}

.fadingNotificationContent {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.commentaryInNotification {
    font-size: 16px;
    font-style: italic;
    text-align: left;
}

.closeBtn {
    font-size: 10px;
    font-weight: 600;
    border-radius: 2px;
    padding: 8px 4px;
    right: 2px;
    top: 2px;
}
