label {
    font-size: 20px;
}

.loginButtonDiv {
    display: flex !important;
    justify-content: space-between;
    align-items: flex-end;
}

.textAboveLink {
    font-size: 17px;
}

.header {
    padding-top: 5px;
    padding-bottom: 10px;
    display: flex;
    justify-content: start;
    gap: 20px;
}

.link {
    display: flex;
    gap: 7px;
}


