.main {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    user-select: none;
    position: relative;
}

.main:hover {
    background-color: rgba(255, 255, 255, 0.05);
    cursor: pointer;
}

.main:active {
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.05) 30%, rgba(233, 16, 94, 0.5) 100%);
}

.main .tooltip {
    opacity: 0;
    position: absolute;
    pointer-events: none;
    border-radius: 5px;
    font-family: "Calibri", serif;
    font-size: 15px;
    color: #E3E3E3;
    white-space: nowrap;
    border: 1px solid #228dff;
    padding: 4px 6px;
    left: -8px;
    bottom: -35px;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100;
}

.main:hover .tooltip{
    opacity: 1;
}

