.main {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    user-select: none;
    position: relative;
    word-wrap: normal !important;
    word-break: normal !important;
}

.main:hover {
    background-image: linear-gradient(280deg, #E9105E50 0%, #2D5DB250 99%);
    cursor: pointer;
}

.main:active {
    background-image: linear-gradient(280deg, #E9105E90 0%, #2D5DB290 99%);
}


