.own_navbar {
    white-space: nowrap;
    background-color: #1B1B24;
    border-bottom: #FF9900 solid 2px;
    font-size: 24px;
    margin-bottom: 30px;
    padding: 0;
}

.collapsedDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2%;
}

@media(max-width: 991px) {
    .collapsedDiv {
        flex-direction: column;
        padding: 0;
    }
    #order_nav_Communities {
        order: 2;
        margin: 0 0 10px 0;
        width: 100%;
    }
    #order_nav_Search {
        order: 1;
        margin-bottom: 10px;
    }
    #order_nav_Account {
        order: 3;
        margin-bottom: 10px;
    }

    #loginButton:hover {
        margin: unset;
    }
    #own_logo, #own_toggler{
        margin-left: 10px;
        margin-right: 10px;
    }

}

.communitiesDiv {
    padding: 10px 28px 10px 20px;
    margin-left: 7.75%;
    text-align: center;
}

.communitiesIco {
    height: 38px;
}

.searchDiv {
    padding-top: 3px;
    padding-left: 5%;
    padding-right: 5%;
    display: grid;
    grid-template-columns: 0.7fr 40px;
    flex: 3;
}
.searchInput {
    border: #E3E3E3 1px solid;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 20px;
    padding-left: 13px;
    padding-bottom: 2px;
    height: 34px;
    vertical-align: top;
    margin-right: -1px;
}
.searchButton {
    height: 34px;
    vertical-align: top;
    border: #E3E3E3 1px solid;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgba(255, 255, 255, 0);
}
.searchButton:hover {
    background-color: rgba(255, 255, 255, 0.05);
}
.searchIco {
    height: 25px;
    margin-bottom: 12px;
}
.searchInput:focus {
    border-color: #E9105E;
    outline: none;
}
.searchInput:focus ~ .searchButton{
    border-color: #E9105E;
}

.own_logo {
    height: 60px;
    margin-left: 60px;
}
.own_toggler {
    border-color: rgba(0, 0, 0, 0);
}
.own_toggler:active:focus {
    border-color: #ff9900;
}

.accountDiv {
    text-align: center;
    flex: 2;
}
.loginButton {
    background-color: #2D5DB2;
    border-radius: 8px;
    padding: 8px 14px 8px 14px;
    transition: all 0.15s;
    border: none;
    color: #E3E3E3;
    font-size: 20px;
    font-weight: 600;
}
.loginButton:hover {
    margin-top: 2px;
    margin-left: 2px;
}


.userImg {
    margin-left: 10px;
}

.nicknameNavBarDiv {
    vertical-align: top;
    font-size: 22px;
    margin-left: 10px;
    display: inline-block;
}

.notificationButton {
    border: none;
    padding: 10px 7px 10px 7px;
    background-color: rgba(255, 255, 255, 0);
}

.accountInfoDiv {
    display: inline-block;
    padding: 7px 16px 4px 7px;
    background-color: rgba(255, 255, 255, 0);
}

.accountInfoDiv:hover, .notificationButton:hover, .communitiesDiv:hover {
    background-color: rgba(255, 255, 255, 0.05);
}
