.main {
    text-decoration: none;
    color: inherit;
    padding: 0 5px;
    border-radius: 5px;
}
.main:hover {
    color: inherit;
    background-color: #708ad450;
}
.main:active {
    background-image: linear-gradient(280deg, #228dff70 0%, #e9105e70 99%);
}