.main {
    display: flex;
    justify-content: center;
}

.widthLimit {
    display: flex;
    flex: 1;
    gap: 22px;
    max-width: 1127px;
}

.content {
    flex: 1;
}

.createCommunityLinkDiv {
    display: flex;
    justify-content: right;
}
.createCommunityLink {
    line-height: 25px;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 5px;
}

.cards {
    padding-top: 13px;
    width: 137px;
}

@media (max-width: 1140px) {
    .cards {
        display: none;
    }
    .main {
        gap: 0;
    }
}

.cardItem {
    font-size: 11px;
    font-weight: bold;
    position: relative;
    margin-bottom: 13px;
}

.cardItemHover:hover {
    cursor: pointer;
    margin-left: -3px;
}

.cardItemOverImageDiv {
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.otherCommunitiesLink {
    text-decoration: none;
}
.otherCommunitiesDiv {
    background-color: #E3E3E3;
    color: #464646 !important;
    border-radius: 12px;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    user-select: none;
    height: 27px;
    padding-top: 2px;
}
.otherCommunitiesDiv:hover {
    cursor: pointer;
    background-color: rgba(227, 227, 227, 0.85);
}
.otherCommunitiesDiv:active {
    background-color: rgba(227, 227, 227, 0.7);
}