.main {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.content {
    width: 716px;
}

@media (max-width: 993px) {
    .main {
        flex-direction: column;
    }
    .ratingDiv > div {
        flex-direction: row;
        gap: 6px;
    }
    .ratingDiv > div > div {
        gap: 6px;
        display: flex;
    }
    .content {
        width: 100%;
    }
}

.imgAndTextDiv {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.postText {
    font-size: 15px;
}

.postImageSelector {
    min-height: 450px;
}


.postImg {
    border-radius: 10px;
}


.date {
    display: flex;
    justify-content: right;
    font-size: 14px;
    color: #939393;
}

.infoBannersDiv {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.infoBanner {
    width: 220px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.infoBannerName {
    font-family: PressStart, sans-serif;
    font-size: 11px;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: normal;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

.infoBannerId {
    text-decoration: none;
    color: inherit;
    padding: 0 5px;
    border-radius: 5px;
}
.infoBannerId:hover {
    color: inherit;
    background-color: #708ad450;
}
.infoBannerId:active {
    background-image: linear-gradient(280deg, #228dff70 0%, #e9105e70 99%);
}

.infoBanner img {
    height: 120px;
    width: 120px;
    border-radius: 60px;
}

.communityDate {
    line-height: 10px;
    font-weight: bold;
    color: #949494;
}





